* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

@media(max-width: 599px) {

    h1 {
        color: #fff;
        text-shadow: 2px 2px 1px black;
        position: absolute;
        top: 250px;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        font-size: 38px;
    }

    header {
        position: relative;
    }

    header img#fundo {
        width: 100%;
        height: 100vh;
    }

    header img#hamburgao {
        position: absolute;
        display: block;
        margin: 0 auto;
        top: 90px;
        right: 0;
        left: 0;
        width: 55px;
        height: 50px;
        border-radius: 50%;
        z-index: 3;
        transition: .3s linear;
        cursor: pointer;
        background-color: rgba(53, 50, 50, 1);
    }

    span#x-menu {
        display: block;
        position: absolute;
        margin: 0 auto;
        top: 100px;
        right: 0;
        left: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: rgba(53, 50, 50, 1);
        z-index: 3;
        transition: .3s linear;
        cursor: pointer;
    }

    header img#x {
       width: 0;
       height: 0;
       margin-top: 7px;
       transition: .3s linear;
    }

    nav {
        position: relative;
        width: 300px;
        display: block;
        margin: 0 auto;
        top: 0;
        right: 0;
        left: 0;
        right: 0;
    }

    .padrao-li {
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        padding: 10px;
        transition-duration: .5s;
        background-color: rgba(53, 50, 50, 0.8);
        z-index: 2;
    }

    nav ul li#inicio {
        position: absolute;
        display: block;
        top: 90px;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
    }

    nav ul li#ferramentas {
        position: absolute;
        display: block;
        top: 90px;
        right: 0;
        left: 0;
        bottom: 0;
    }

    nav ul li#telefone {
        position: absolute;
        display: block;
        top: 90px;
        right: 0;
        left: 0;
        bottom: 0;
    }

    nav ul li#endereco {
        position: absolute;
        display: block;
        top: 90px;
        right: 0;
        left: 0;
        bottom: 0;
    }

    nav ul li img {
        width: 30px;
        height: 30px;
    }

    section#section-inicio {
        margin-top: -5px;
        background-color: red;
    }

    section#section-inicio h2{
        text-align: center;
        padding-top: 60px;
        color: #fff;
    }

    section#section-inicio p {
        text-align: center;
        font-size: 17px;
        padding: 30px 20px 65px 20px;
        color: #fff;
    }

    section#section-servicos {
        background-color: rgba(20, 20, 20, 0.986);
    }

    section#section-servicos h2 {
        padding-top: 55px;
        text-align: center;
        color: #fff;
    }

    section#section-servicos ul {
        font-size: 18px;
        color: #fff;
        padding: 40px 20px;
    }

    section#section-servicos li {
        padding: 10px;
        font-size: 18px;
    }

    section#section-servicos li p:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    section#section-servicos img {
        width: 0%;
        height: 0%;
        display: block;
        transition-duration: .2s;
    }

    section#section-localizacao {
        background-color: red;
    }

    section#section-localizacao h2{
        text-align: center;
        padding-top: 55px;
        color: #fff;
    }

    section#section-localizacao p {
        text-align: center;
        font-size: 17px;
        padding: 30px 20px 65px 20px;
        color: #fff;
    }
    
    section#section-localizacao iframe {
        width: 95%;
        height: 300px;
        display: block;
        margin: auto;
        border-radius: 10px;
        padding-bottom: 30px;
    }

    section#section-contato {
        display: block;
        position: relative;
        background-color: rgba(20, 20, 20, 0.986);
    }

    section#section-contato h2 {
        padding-top: 55px;
        padding-bottom: 20px;
        text-align: center;
        color: #fff;
    }

    section#section-contato img {
        display: block;
        margin-left: 20px;
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    section#section-contato li {
       position: absolute;
        color: #fff;
        font-size: 20px;
    }

    section#section-contato #contato-telefone {
        top: 115px;
        left: 70px;
    }

    section#section-contato #contato-zap {
        top: 165px ;
        left: 70px;
    }

    section#section-contato #contato-email {
        top: 215px;
        left: 70px;
    }
}


